body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
header {
  background-color: hsl(197, 51%, 27%);
  color: #f9f8f8;
  padding: 20px;
  text-align: center;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 25px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#my-name {
  font-size: 28px;
}

.store-img {
  height: 450px;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

aside > p {
  margin: 0.5rem;
}
